# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\kingk\Downloads\New-Coursework-Reshuffle-df0332f08d9509b85222eb8c41dba861b2910d42\New-Coursework-Reshuffle-df0332f08d9509b85222eb8c41dba861b2910d42\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
